# app/config/routing.yml


user_one_registration:
    path:  /register/user-one
    defaults: { _controller: TaseeraUserBundle:RegistrationUserOne:register }

user_two_registration:
    path:  /register/user-two
    defaults: { _controller: TaseeraUserBundle:RegistrationUserTwo:register }

fos_user_registration_confirmed:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /confirmed

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

#fos_user_registration_register:
 #   resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
  #  prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile

taseera_user:
    resource: "@TaseeraUserBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: '@AppBundle/Controller/'
    type: annotation
